.card-container {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 323px;
  height: 326px;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.card__image {
  object-fit: cover;
  width: 100%;
}

.card__image:hover {
  cursor: pointer;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  font-family: "CabinetGrotesk-Medium";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  max-width: 68px;
}

.card__like-btn {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  width: 18px;
  height: 15px;
  cursor: pointer;
}
