.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 47px;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  background-color: #f3f3f3;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__logo-and-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__temp-and-user {
  display: flex;
  flex-direction: row;
}

.header__logo {
  margin-right: 24px;
}

.header__add-btn {
  margin: 0 20px 0 auto;
  font-weight: 700;
  border: none;
  background: none;
}

.header__add-btn:hover {
  cursor: pointer;
}

.header__date-and-location {
  margin: 0;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
}

@media screen and (min-width: 330px) and (max-width: 530px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
}
