.sidebar__avatar-container {
  display: flex;
  gap: 16px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50px;
}

.sidebar__username {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.sidebar__buttons-container {
  display: flex;
  flex-direction: column;
}

.sidebar__logout-btn {
  font-family: "CabinetGrotesk-Medium";
  font-size: 18px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  margin-top: 8px;
  border: none;
  background: none;
  padding: 0;
}

.sidebar__edit-profile-btn {
  font-family: "CabinetGrotesk-Medium";
  font-size: 18px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  margin-bottom: 0;
  border: none;
  background: none;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
