.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  padding-bottom: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 0;
  height: 20px;
  width: 20px;
  border: none;
  background-image: url("../../images/close-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "CabinetGrotesk-Bold";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.modal__input {
  display: block;
  width: 100%;
  border-radius: 1px;
  border-top: #fff;
  border-right: #fff;
  border-left: #fff;
  border-bottom: 1px solid rgba(0, 0, 0);
  padding: 0;
  padding-top: 8px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  background-color: #000;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.modal__submit:hover {
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal__login-link {
  margin-top: 32px;
}
